body {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100dvh;
  width: 100%;
}

header {
  background-color: aquamarine;
  color: #ffffff;
  padding: 24px;
  text-align: center;
  font-size: 24px;
}

/* MENU DE NAVEGAÇAO */
nav{
    background-color: #333;
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 12px;
    position: sticky;
    top: 0;
    z-index: 1000;
    
}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover{
    color: #6627ca;
    font-style: italic;
}


/* LAYOUT PRINCIPAL*/

main{
    display: flex;
    gap: 24px;
    padding: 24px;
}

/* LATERAL */
aside {
    width: 25%;
    background-color: white;
    padding: 16px;
    border-radius: 8px;
}

/* COMTEUDO */
section {
    background-color: white;
    padding: 16px;
    border-radius: 8px;
}

/* RODAPE */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 12px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
