 .my-text {color: white;}
        #header{
             background-color: red;
             height: 130px;
             text-align: center;}
        #main{
             background-color: #de35b7;
             height: 350px}
        #aside{
             background-color: blue;
             height: 100%;
             width: 30%;
             float: left}
        #content{
            background-color: green;
             height: 100%;
             width: 60%;
             float: right}
        #footer{
             background-color: gray;
             height: 30px}